body {
  margin: 0;
}

.first-box-container, .second-box-container, .third-box-container {
  position: absolute;
  width: 200px;
  height: 100px;
  margin: 10px;
}

.first-box-container {
  background-color: red;
  left: 0;
  border: 16px solid green;
}

.second-box-container {
  background-color: yellow;
  left: 290px;
  border: 16px solid red;
}

.third-box-container {
  background-color: green;
  left: 580px;
  border: 16px solid yellow;
}

p {
  margin: 0 auto;
  padding-top: 30px;
  text-transform: uppercase;
  text-align: center;
  color: blue;
}